version: "3.8"

services:
  mail:
    build: .
    container_name: dorayaki-mail
    restart: unless-stopped
    #"host" para evitar problemas con NAT/iptables y hace que los puertos queden exactamente en la IP del host.
    network_mode: "host"


    volumes:
      - ./maildata:/home/user/Maildir       # buzones (persistencia)
      - ./postfix:/etc/postfix              # configuracion postfix 
      - ./dovecot:/etc/dovecot               # configuracion dovecot
      - ./logs:/var/log                      # logs 
    environment:
      - TZ=Europe/Madrid

    # Healthcheck para comprobar servicio SMTP
    healthcheck:
      test: ["CMD-SHELL", "ss -ltn | grep -q ':25 ' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3