apiVersion: apps/v1
kind: Deployment
metadata:
    name: nginx-web
    labels:
        app: nginx-web
spec:
    replicas: 2
    selector:
        matchLabels:
            app: nginx-web
    template:
        metadata:
            labels:
                app: nginx-web
        spec:
            containers:
                - name: nginx
                    
                    image: web:latest
                    ports:
                        - containerPort: 80
                    resources:
                        requests:
                            cpu: "50m"
                            memory: "64Mi"
                        limits:
                            cpu: "200m"
                            memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
    name: nginx-web-svc
spec:
    type: NodePort
    selector:
        app: nginx-web
    ports:
        - port: 80
            targetPort: 80
            nodePort: 30080