  version: "3.8"
  
  services:
    dns:
      build:
        context: .
        dockerfile: ./Dockerfile
      image: bind-custom
      container_name: dns-dorayaki
      restart: unless-stopped
      #network_mode: "host"        # usa la IP del host (DMZ)

      ports:
      - "53:53"

      volumes:
        - ./zones:/etc/bind/zones
