  services:
    dns:
      build:
        context: .
        dockerfile: ./Dockerfile
      image: bind-custom
      container_name: dns-dorayaki
      restart: unless-stopped
      # network_mode: "host"
  
      # No host port binding to avoid conflict on port 53
      # ports:
      #   - "53:53/tcp"
      #   - "53:53/udp"
  
      volumes:
        - ./zones:/etc/bind/zones
  
      networks:
        testing_net:
          ipv4_address: 10.1.0.1
  
  networks:
    testing_net:
      driver: bridge
      ipam:
        config:
          - subnet: 10.1.0.0/24
            gateway: 10.1.0.254